<table>
  <caption>Заказы</caption>
  <thead>
    <tr>
      <td>ID</td>
      <td>Имя</td>
      <td>Телефон</td>
      <td>Почта</td>
      <td>Стоимость</td>
      <td>Дата</td>
      <td>Статус</td>
      <td>Содержимое</td>
      <td>Способ оплаты</td>
      <td>Комментарий</td>
      <td>Комментарий админа</td>
      <td>Способ доставки</td>
      <td>Стоимость доставки</td>
      <td>Город</td>
      <td>Индекс</td>
      <td>Адрес</td>
    </tr>
  </thead>
  <tbody>
    <% @all_orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.name %></td>
        <td><%= order.phone %></td>
        <td><%= order.email %></td>
        <td><%= order.items_price %></td>
        <td><%= order.created_at %></td>
        <td><%= t("order.workflow_state.#{order.workflow_state}") %></td>
        <td><%= order.order_items.map{ |item| item.item.title }.join(', ') %></td>
        <td><%= order.payment_method.title %></td>
        <td><%= order.comment %></td>
        <td><%= order.admin_comment %></td>
        <td><%= order.shipping_method.title %></td>
        <td><%= order.shipping_price %></td>
        <td><%= order.city %></td>
        <td><%= order.zipcode %></td>
        <td><%= order.address %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <% if @from or @to %>
        <td>Заказы в период с <%= Russian::strftime(@from, "%d %B %Y") %> по <%= Russian::strftime(@to, "%d %B %Y") %></td>
      <% else %>
        <td>Заказы за весь период</td>
      <% end %>
    </tr>
  </tfoot>
</table>
