<section class="case-products">
  <div class="container">
    <ul class="items">
      <%= render @items %>
    </ul>
  </div>
</section>
<div class="cases hidden-tablet">
  <section class="case-service">
    <div class="container">
      <ul class="items">
        <li class="item item1"><div class="item-cnt"><i class="icon"></i><div class="ttl">Доставка<br /> по всей России</div></div></li>
        <li class="item item2"><div class="item-cnt"><i class="icon"></i><div class="ttl">Быстрая доставка курьером<br /> по москве</div></div></li>
        <li class="item item3"><div class="item-cnt"><i class="icon"></i><div class="ttl">Офлайн-магазины открыты<br /> с 11:00 до 22:00</div></div></li>
      </ul>
    </div>
  </section>
  <%= render_blocks @page.blocks, namespace: :pages %>
</div>
<%= render partial: 'reviews/list' %>
<%= render partial: 'shops/list' %>
<section class="case-social hidden-tablet">
  <div class="container globalwidth">
    <div class="likebox">
      <img width="900" height="240" src="images/likebox.jpg" alt="" />
    </div>
    <div class="follow">
      <ul class="items">
        <li class="item"><a href="#"><i class="icon icon-fb"></i><span class="label">Facebook</span></a></li><li class="item">
        <a href="#"><i class="icon icon-vk"></i><span class="label">Vkontakte</span></a></li><li class="item">
        <a href="#"><i class="icon icon-ig"></i><span class="label">Instagram</span></a></li>
      </ul>
    </div>
  </div>
</section>
<%= render 'social_buttons_mobile' %>