<%= form_for @order , remote: true do |f| %>
  <%= f.hidden_field :discount_id, class: 'hidden js-discount-id' %>
  <% unless mobile_device? %>
    <div class="case-row case-cart-delivery">
      <!-- hidden-tablet -->
      <div class="container globalwidth">
        <div class="wrapper">
          <h2 class="center">Как вам доставить товар</h2>
        </div>
        <div class="switcher-wrap">
          <div class="js-switcher switcher table">
            <div class="switcher-cnt tr">
              <% @shipping_methods.each do |shipping_method| %>
                <label class="td<%= ' current' if @order.shipping_method_id == shipping_method.id %>">
                  <i class="icon icon-<%= shipping_method_icon(shipping_method) %>"></i>
                  <span class="title"><%= shipping_method.title %></span>
                  <span class="price"><%= humanized_money shipping_method.calculate_price({city_id: 1, total_price: @order.items_price}) %> руб.</span>
                  <% if shipping_method.title == 'Курьер по Москве' %>
                    </br>
                    <span class="title-dop">Бесплатно для заказов от </span>
                    <span class="price-dop">1500 руб.</span>
                  <% end %>
                  <%= f.radio_button :shipping_method_id, shipping_method.id, class: 'hidden js-order-shipping-method-id', title: shipping_method.title %>
                </label>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="case-row case-cart-address">
      <!-- hidden-tablet -->
      <div class="container globalwidth">
        <div class="wrapper">
          <h2 class="center">Укажите адрес доставки<br />и контактные данные</h2>
          <div class="forms">
            <div class="field js-order-shipping-info-fields" style='display:none'>
              <div class="table">
                <div class="tr">
                  <div class="td td1<%= ' error' if @order.errors['city'].any? %>">
                    <div class="chosen">
                      <%= f.select :city, order_city_options_for_select(@cities, @order.city, shipping_methods: @shipping_methods), {}, class: 'chosen-select js-order-city' %>
                    </div>
                  </div>
                  <div class="td td2<%=' error' if @order.errors['zip_code'].any? %>">
                    <%= f.text_field :zip_code, placeholder: 'Индекс' %>
                    <p class='error-message'><%= show_errors(@order, :zip_code) %></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="field<%= ' error' if @order.errors['address'].any? %>">
              <%= f.text_field :address, placeholder: 'Адрес' %>
              <p class='error-message'><%= show_errors(@order, :address) %></p>
            </div>
            <div class="field<%= ' error' if @order.errors['name'].any? %>">
              <%= f.text_field :name, placeholder: 'Имя' %>
              <p class='error-message'><%= show_errors(@order, :name) %></p>
            </div>
            <div class="field">
              <div class="email <%= ' error' if @order.errors['email'].any? %>">
                <%= f.text_field :email, placeholder: 'Эл. почта' %>
                <p class='error-message'><%= show_errors(@order, :email) %></p>
              </div>
              <div class="phone <%= ' error' if @order.errors['phone'].any? %>">
                <%= f.text_field :phone, placeholder: 'Телефон', class: 'js-order-phone' %>
                <p class='error-message'><%= show_errors(@order, :phone) %></p>
              </div>
            </div>
            <div class="field"><%= f.text_area :comment, placeholder: 'Комментарий' %></div>
            <div class="field">
              <%= text_field_tag :discount_code, nil, placeholder: 'Подарочная карта или купон' %>
              <div class='message' style="margin: 10px 0 0 0"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="sum hidden-tablet">
    <div class="container globalwidth">
      <span>Итого с доставкой <b><span id="order-total-price"><%= humanized_money @order.total_price %></span> руб.</b></span>
    </div>
  </div>
  <% if mobile_device? %>
    <div class="tablet-bottom visible-tablet">
      <div class="contacts">
        <h2>Мы перезвоним вам, согласуем адрес и время доставки</h2>
        <div class="field<%= ' error' if @order.errors['name'].any? %>">
          <%= f.text_field :name, placeholder: 'Как вас зовут?' %>
        </div>
        <div class="td td1<%= ' error' if @order.errors['phone'].any? %>">
          <%= f.text_field :phone, placeholder: 'Ваш номер телефона', class: 'js-order-phone' %>
        </div>
        <div class="email <%= ' error' if @order.errors['email'].any? %>">
          <%= f.text_field :email, placeholder: 'Эл. почта' %>
          <p class='error-message'><%= show_errors(@order, :email) %></p>
        </div>
      </div>
    </div>
  <% end %>
  <div class="case-row case-cart-payment">
    <div class="container globalwidth">
      <div class="wrapper">
        <h2 class="center">Как предпочитаете<br /> оплатить покупку</h2>
      </div>
      <div class="switcher-wrap">
        <div class="js-switcher switcher table">
          <div class="switcher-cnt tr">
            <% @payment_methods.each do |payment_method| %>
              <label class="td<%= ' current' if @order.payment_method_id == payment_method.id %>">
                <i class="icon icon-<%=t "payment_method.order.#{payment_method.name}.icon" %>"></i>
                <span class="title"><%=t "payment_method.order.#{payment_method.name}.title" %></span>
                <%= f.radio_button :payment_method_id, payment_method.id, class: 'hidden' %>
              </label>
            <% end %>
          </div>
        </div>
      </div>
      <div class="btn-wrap">
        <button class="btn btn-orn" type="submit">Отправить заказ</button>
      </div>
    </div>
  </div>
<% end %>
