<% if block.background_type == 'background' && block.background? %>
  <section class="case-article covered darkstyle" style="background-image: url(<%= block.background.full %>);">
    <div class="blackout">
      <div class="container globalwidth">
        <div class="wrapper">
          <% if block.subtitle.present? %>
            <div class="subtitle center"><%= block.subtitle %></div>
          <% end %>
          <h2 class="center"><%= sanitize_block block.title %></h2>
          <% if block.text.present? %>
            <div class="text">
              <%= sanitize_and_paragraph_block block.text %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <section class="case-article">
    <div class="container globalwidth">
      <div class="wrapper">
        <% if block.subtitle.present? %>
          <div class="subtitle center"><%= block.subtitle %></div>
        <% end %>
        <h2 class="center"><%= sanitize_block block.title %></h2>
        <% if block.text.present? %>
          <div class="text">
            <%= sanitize_and_paragraph_block block.text %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>