<section class="case-sort">
  <div class="container globalwidth">
    <ul class="items">
      <li class="item<%= ' current' if params[:tag].blank? %>">
        <%= link_to items_path do %>
          <span class="label">Все</span><span class="count"><%= @total_quantity %></span>
        <% end %>
      </li>
      <% @quantities_by_tag.each do |tag, quantity| %>
        <li class="item<%= ' current' if params[:tag].to_s == tag.name %>">
          <%= link_to items_path(tag: tag.name) do %>
            <span class="label"><%= tag.name %></span><span class="count"><%= quantity %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</section>
<section class="case-products">
  <div class="container">
    <ul class="items">
      <%= render @items %>
    </ul>
  </div>
</section>
<section class="case-article case-article_callback covered darkstyle" style="background: #6ddec9;">
  <div class="container globalwidth">
    <div class="wrapper">
      <h2 class="center">Обратная связь</h2>
      <div class="text">
        <p>С волнением ждем ваши отзывы и предложения – нам это важно</p>
      </div>
      <div class="btn-wrap">
        <a class="btn btn-wte-cut popup-with-form" href="<%= "##{signed_in? ? 'popup-comment' : 'popup-auth'}" %>">Написать</a>
      </div>
    </div>
  </div>
</section>
<%= render 'social_buttons_mobile' %>

<% if signed_in? %>
  <%= render 'reviews/popup_form' %>
  <%= render 'reviews/popup_thanks' %>
<% end %>