<section class="case-sort">
  <div class="container globalwidth">
    <ul class="items">
      <li class="item<%= ' current' if params[:tag].blank? %>">
        <%= link_to items_path do %>
          <span class="label">Вся продукция</span><span class="count"><%= @total_quantity %></span>
        <% end %>
      </li>
      <% @quantities_by_tag.each do |tag, quantity| %>
        <li class="item<%= ' current' if params[:tag].to_s == tag.name %>">
          <%= link_to items_path(tag: tag.name) do %>
            <span class="label"><%= tag.name %></span><span class="count"><%= quantity %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</section>
<section class="case-products">
  <div class="container">
    <ul class="items">
      <%= render @items %>
    </ul>
  </div>
</section>
<%= render 'social_panel' %>
<section class="case-article case-article_new">
  <div class="container globalwidth">
    <div class="wrapper">
      <h2 class="center">Новые товары</h2>
      <div class="text">
        <p>Мы постоянно совершенствуемся и улучшаем нашу продукцию, чтобы быть вкурсе новинок, подписывайтесь на обновления, для этого введите свою почту ниже</p>
      </div>
      <div class="forms">
        <form method="post" action="">
          <div class="field"><input type="text" placeholder="Ваша почта" /></div>
          <button class="btn btn-grn" type="submit">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="case-article case-article_callback covered darkstyle" style="background: #6ddec9;">
  <div class="container globalwidth">
    <div class="wrapper">
      <h2 class="center">Обратная связь</h2>
      <div class="text">
        <p>Мы делаем косметику для вас. Поэтому будет очень правильно получить от вас обратную связь: что понравилось, какие пожелания или вопросы возникли. Это поможет нам делать продукты в большей степени отвечающие вашим пожеланиям.</p>
      </div>
      <div class="btn-wrap">
        <a class="btn btn-wte-cut" href="#">Написать</a>
      </div>
    </div>
  </div>
</section>
<%= render 'social_buttons_mobile' %>