<%= link_to 'К продуктам', items_path, class: 'back hidden visible-tablet' %>
<section class="case-product">
  <div class="container globalwidth">
    <div class="wrapper">
      <figure>
        <%= link_to @item do %>
          <%= image_tag @item.main_image.thumb, height: '760', width: '360' %>
        <% end %>
      </figure>
      <div class="info">
        <div class="descript hidden-tablet"><%= @item.motto %></div>
        <div class="ttl"><%= @item.title %></div>
        <% if @item.volume.to_i > 0 %>
          <div class="size">— <%= @item.volume %> мл</div>
        <% end %>
        <div class="text hidden-tablet">
          <p><%= @item.short_description %></p>
        </div>
        <span class="price"><%= humanized_money @item.price %> руб.</span>
        <%= link_to 'Купить', add_to_cart_path(@item), method: :post, remote: true, class: 'btn btn-orn' %>
      </div>
    </div>
  </div>
</section>
<div class="separate">
  <div class="container globalwidth">
    <div class="line"></div>
  </div>
</div>
<%= render_blocks @item.blocks, namespace: :items %>
<%= render 'social_buttons_mobile' %>