<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <%= title_tag %>
  <%= meta_tags %>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv' %>
  <![endif]-->
  <%= javascript_include_tag 'application' %>
  <%= javascript_block %>
  <%= csrf_meta_tags %>
</head>
<body>
  <article class="page">
    <header class="page-header page-header-left covered<%= ' darkstyle' if @page.try(:dark_cover?) %>" style="background-image: url(<%= @page.try(:cover).try(:full) || '/images/main_bg.jpg' %>);">
      <div<%= ' class="blackout"'.html_safe if @page.try(:shadow_cover?) %>>
        <div class="container globalwidth">
          <div class="page-header-top">
            <a class="btn-navbar navbar-toggle hidden visible-tablet" href="#">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="logo logo-min" href="/"></a>
            <nav class="navbar">
              <div class="navbar-cnt">
                <ul class="items">
                  <%= render 'navigation' %>
                </ul>
                <a class="close navbar-toggle hidden visible-tablet" href="#"></a>
                <div class="follow-mob hidden visible-tablet">
                  <a href="#"><i class="icon icon-fb_grn"></i></a>
                  <a href="#"><i class="icon icon-vk_grn"></i></a>
                  <a href="#"><i class="icon icon-ig_grn"></i></a>
                </div>
              </div>
            </nav>
            <a id="cart-tablet" class="store hidden visible-tablet" href="<%= new_order_path %>"><%= current_cart.total_quantity %></a>
          </div>
          <div class="page-header-bottom hidden-tablet">
            <div class="caption">
              <% if @page.try(:motto).present? %>
                <div class="subtitle"><%= @page.motto %></div>
              <% end %>
              <% if @page.try(:title).present? %>
                <h1><%= @page.title %></h1>
              <% end %>
              <% if @page.try(:subtitle).present? %>
                <div class="dubtitle"><%= @page.subtitle %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="page-body">
      <%= yield %>
    </section>
    <%= render 'footer' %>
  </article>
  <% unless signed_in? %>
    <%= render 'popup_login' %>
  <% end %>
</body>
</html>