<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= title_tag %>
  <%= meta_tags %>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv' %>
  <![endif]-->
  <%= javascript_include_tag 'application' %>
  <%= javascript_block %>
  <%= csrf_meta_tags %>
</head>
<body class="main">
  <%= render 'social_buttons/facebook_header' %>
  <article class="page">
    <header class="page-header page-header-center covered<%= ' darkstyle' if @page.try(:dark_cover?) %>" style="background-image: url(<%= @page.cover.full %>);">
      <div<%= ' class="blackout"'.html_safe if @page.try(:shadow_cover?) %>>
        <div class="container globalwidth">
          <div class="page-header-top">
            <a class="btn-navbar navbar-toggle hidden visible-tablet" href="#">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="logo logo-fn" href="/"></a>
            <nav class="navbar">
              <div class="navbar-cnt">
                <ul class="items">
                  <%= render 'navigation' %>
                </ul>
                <a class="close navbar-toggle hidden visible-tablet" href="#"></a>
                <div class="follow-mob hidden visible-tablet">
                  <a href="<%= Settings::Social.instagram %>" target="_blank"><i class="icon icon-ig_grn"></i></a>
                  <a href="<%= Settings::Social.facebook %>" target="_blank"><i class="icon icon-fb_grn"></i></a>
                  <a href="<%= Settings::Social.vkontakte %>" target="_blank"><i class="icon icon-vk_grn"></i></a>
                </div>
              </div>
            </nav>
            <a id="cart-tablet" class="store hidden visible-tablet" href="<%= new_order_path %>"><%= current_cart.total_quantity %></a>
          </div>
          <div class="page-header-bottom">
            <div class="caption center">
              <h1>Новая классная<br /> косметика</h1>
            </div>
            <div class="btn-wrap hidden-tablet">
              <%= link_to 'Закажите сейчас', items_path, class: 'btn btn-grn', style: 'opacity:0.8;' %>
            </div>
            <section class="case-worth-min hidden-tablet" style="margin-top:70px;">
              <ul class="items" style="color:#000000;">
                <li class="item"><i class="icon icon-worth1_min"></i><div class="ttl">Качественная</div></li><li class="item">
                <i class="icon icon-worth2_min"></i><div class="ttl">Минималистичная</div></li><li class="item">
                <i class="icon icon-worth3_min"></i><div class="ttl">Для России</div></li><li class="item">
                <i class="icon icon-worth4_min"></i><div class="ttl">Доступная</div></li><li class="item">
                <i class="icon icon-worth5_min"></i><div class="ttl">Честная</div></li><li class="item">
                <i class="icon icon-worth6_min"></i><div class="ttl">Сделана с любовью</div></li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </header>
    <section class="page-body">
      <%= yield %>
    </section>
    <%= render 'footer' %>
  </article>
  <% unless signed_in? %>
    <%= render 'popup_login' %>
  <% end %>
</body>
</html>